{
  "FBGRX": "Fidelity Blue Chip Growth Fund",
  "FFFFX": "Fidelity Four-in-One Index Fund",
  "VE.TO": "Vanguard FTSE Developed All Cap ex North America Index ETF",
  "XBB.TO": "iShares Core Canadian Universe Bond Index ETF",
  "XCH.TO": "iShares China Index ETF",
  "XEC.TO": "iShares Core MSCI Emerging Markets IMI Index ETF",
  "XEF.TO": "iShares Core MSCI EAFE IMI Index ETF",
  "XEQT.TO": "iShares Core Equity ETF Portfolio",
  "XIC.TO": "iShares Core S&P/TSX Capped Composite Index ETF",
  "XUU.TO": "iShares Core S&P U.S. Total Market Index ETF",
  "ZAG.TO": "BMO Aggregate Bond Index ETF"
}
