{
    "accounts": [
        {
            "nickname": "US taxfree",
            "holder": "Bob",
            "type": "Roth IRA",
            "base_currency": "USD",
            "holdings": [
                {
                    "ticker": "FFFFX",
                    "shares": 4000,
                    "cost_basis": 13,
                    "currency": "USD"
                },
                {
                    "ticker": "FBGRX",
                    "shares": 700,
                    "cost_basis": 230,
                    "currency": "USD"
                }
            ]
        },
        {
            "nickname": "Canada taxfree",
            "holder": "Bob",
            "type": "TFSA",
            "base_currency": "CAD",
            "holdings": [
                {
                    "ticker": "XEQT.TO",
                    "shares": 400,
                    "cost_basis": 39.41,
                    "currency": "CAD"
                },
                {
                    "ticker": "VE.TO",
                    "shares": 500,
                    "cost_basis": 43.86,
                    "currency": "CAD"
                }
            ]
        },
        {
            "nickname": "Canada taxfree2",
            "holder": "Bob's +1",
            "type": "TFSA",
            "base_currency": "CAD",
            "holdings": [
                {
                    "ticker": "XEQT.TO",
                    "shares": 600,
                    "cost_basis": 39.52,
                    "currency": "CAD"
                },
                {
                    "ticker": "ZAG.TO",
                    "shares": 500,
                    "cost_basis": 14.08,
                    "currency": "CAD"
                }
            ]
        },
        {
            "nickname": "CA non-registered",
            "holder": "Joint",
            "type": "non-registered",
            "base_currency": "CAD",
            "holdings": [
                {
                    "ticker": "XEQT.TO",
                    "shares": 1000,
                    "cost_basis": 39.52,
                    "currency": "CAD"
                },
                {
                    "ticker": "VE.TO",
                    "shares": 300,
                    "cost_basis": 43.86,
                    "currency": "CAD"
                }
            ]
        },
        {
            "nickname": "RRSP",
            "holder": "Bob",
            "type": "RRSP",
            "base_currency": "CAD",
            "holdings": [
                {
                    "ticker": "XUU.TO",
                    "shares": 200,
                    "cost_basis": 70.41,
                    "currency": "CAD"
                },
                {
                    "ticker": "XEF.TO",
                    "shares": 400,
                    "cost_basis": 46.56,
                    "currency": "CAD"
                },
                {
                    "ticker": "XEC.TO",
                    "shares": 200,
                    "cost_basis": 37.20,
                    "currency": "CAD"
                },
                {
                    "ticker": "XIC.TO",
                    "shares": 200,
                    "cost_basis": 48.44,
                    "currency": "CAD"
                },
                {
                    "ticker": "XBB.TO",
                    "shares": 400,
                    "cost_basis": 28.71,
                    "currency": "CAD"
                }
            ]
        }
    ]
}
